# PyCity Schools Analysis

Sean Guzman

Rutgers Data Sciences Bootcamp, Module 4 Challenge (20 March 2023)


In this analysis, data is taken from a school district where a series of calculations are performed to determine its success as a district, as well as by school, type of school, school spending.  The data is broken down even further by grade to uncover any trends as students progress through high school.  

## Key Takeaways and Conclusions
- As a district, it averaged a 78.99 for Math and 81.88 for Reading. While the majority passed each subject respectively (Math - 74.98%, Reading 85.81%), only 65% of students passed both.
- Scores for both Math and Reading appear to stay relatively the same throughout high school.
- Spending more per student does not necessarily yield higher Overall Passing Percentages as shown in the spending summary dataframe but given the data, schools with smaller student populations have a higher Overall Passing Percentage despite having smaller budgets as shown in the school summary dataframe.
- Further validating the previous point, the 5 highest-performing schools of passing overall are charter schools (where budget and size are both smaller), whereas the lowest-performing are district schools.  Charter schools excel in all categories [ Average Math Score, Average Reading Score, Passing Math Percentage, Passing Reading Percentage, Overall Passing Percentage ] over district schools as shown in the type_summary dataframe.
- Scores and percentages in all categories [ Average Math Score, Average Reading Score, Passing Math Percentage, Passing Reading Percentage, Overall Passing Percentage ] improve signifcantly depending on size/number of students as shown in the size_summary dataframe. Higher marks in these categories can be seen Medium size schools (1000-2000 students) versus Large size schools (over 2000 students).  However, little improvement can be seen, if any, when comparing Medium size schools to Small size schools (less than 1000 students).

### District Summary

In [1]:
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Total number of unique schools
school_count = school_data['school_name'].count()
school_count

15

In [3]:
# Total students
student_count = student_data['student_name'].count()
student_count

39170

In [4]:
# Total budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [5]:
# Average math score
average_math_score = student_data['math_score'].mean()
average_math_score

78.98537145774827

In [6]:
# Average reading score
average_reading_score = student_data['reading_score'].mean()
average_reading_score

81.87784018381414

In [7]:
# Percentage passing math (the percentage of students who passed math)
passing_math_count = student_data[(student_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count/student_count * 100
passing_math_percentage

74.9808526933878

In [8]:
# Percentage passing reading (the percentage of students who passed reading)
passing_reading_count = student_data[(student_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count/student_count * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Overall passing (the percentage of students who passed math AND reading)
overall_passing_count = student_data[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)].count()["student_name"]
overall_passing_percentage = overall_passing_count/student_count * 100
overall_passing_percentage

65.17232575950983

In [10]:
# District Summary displaying all found metrics in one dataframe

district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget" : [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "Passing Math Percentage": [passing_math_percentage],
    "Passing Reading Percentage": [passing_reading_percentage],
    "Overall Passing Perecntage": [overall_passing_percentage]
})

# Format to include , for thousands/millions, $ for monetary amounts, % for percentages, and round to two decimal places
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["Passing Math Percentage"] = district_summary["Passing Math Percentage"].map("{:,.2f}%".format)
district_summary["Passing Reading Percentage"] = district_summary["Passing Reading Percentage"].map("{:,.2f}%".format)
district_summary["Overall Passing Perecntage"] = district_summary["Overall Passing Perecntage"].map("{:,.2f}%".format)


district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Perecntage
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

### School Summary

In [11]:
# Display each school's type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [12]:
# Display each school and their number of students
per_school_students = school_data.set_index(["school_name"])["size"]
per_school_students

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [13]:
# Display each school and their budget
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [14]:
# Calculate each school's budget per student
per_student_budget = per_school_budget / per_school_students
per_student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [15]:
# Average math score per school
average_math_score_school = school_data_complete.groupby(["school_name"])
average_math_score_school = average_math_score_school["math_score"].mean()
average_math_score_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [16]:
# Average reading score per school
average_reading_score_school = school_data_complete.groupby(["school_name"])
average_reading_score_school = average_reading_score_school["reading_score"].mean()
average_reading_score_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [17]:
# Find count of students who passed math per school
passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
passing_math_count_school = passing_math.groupby(["school_name"])["math_score"]
passing_math_count_school = passing_math_count_school.count()
passing_math_count_school

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [18]:
# Percentage passing math (the percentage of students who passed math)
passing_math_percentage_school = passing_math_count_school/per_school_students * 100
passing_math_percentage_school

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [19]:
# Find count of students who passed reading per school
passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
passing_reading_count_school = passing_reading.groupby(["school_name"])["reading_score"]
passing_reading_count_school = passing_reading_count_school.count()
passing_reading_count_school

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [20]:
# Percentage passing reading (the percentage of students who passed reading)
passing_reading_percentage_school = passing_reading_count_school/per_school_students * 100
passing_reading_percentage_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [21]:
# Find count of students who passed both math and reading per school
overall_passing_count_school = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]

overall_passing_count_school = overall_passing_count_school.groupby(["school_name"])["math_score"]
overall_passing_count_school = overall_passing_count_school.count()
overall_passing_count_school

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: math_score, dtype: int64

In [22]:
# Percentage overall passing (the percentage of students who passed math AND reading)
overall_passing_percentage_school = overall_passing_count_school/per_school_students * 100
overall_passing_percentage_school

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [23]:
# Summary by School, displaying all found metrics in one dataframe

per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_students,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": average_math_score_school,
    "Average Reading Score": average_reading_score_school,
    "Passing Math Percentage": passing_math_percentage_school,
    "Passing Reading Percentage": passing_reading_percentage_school,
    "Overall Passing Percentage": overall_passing_percentage_school
})

# Reset index in order to rename school_name to School
per_school_summary = per_school_summary.reset_index()
per_school_summary = per_school_summary.rename(columns={"school_name": "School"})
per_school_summary = per_school_summary.set_index(["School"])

# Format to include , for thousands/millions, $ for monetary amounts, % for percentages, and round to two decimal places
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,.0f}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)
per_school_summary["Passing Math Percentage"] = per_school_summary["Passing Math Percentage"].map("{:,.2f}%".format)
per_school_summary["Passing Reading Percentage"] = per_school_summary["Passing Reading Percentage"].map("{:,.2f}%".format)
per_school_summary["Overall Passing Percentage"] = per_school_summary["Overall Passing Percentage"].map("{:,.2f}%".format)


per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Percentage
School,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

### Highest-Performing Schools (by % Overall Passing)

In [24]:
top_schools = per_school_summary.sort_values("Overall Passing Percentage", ascending = False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Percentage
School,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

### Lowest-Performing Schools (by % Overall Passing)

In [25]:
bottom_schools = per_school_summary.sort_values("Overall Passing Percentage", ascending = True)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Percentage
School,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

### Math Scores by Grade

In [26]:
# Perform the necessary calculations to average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame(columns=["9th", "10th", "11th", "12th"])
math_scores_by_grade["9th"] = ninth_graders_scores
math_scores_by_grade["10th"] = tenth_graders_scores
math_scores_by_grade["11th"] = eleventh_graders_scores
math_scores_by_grade["12th"] = twelfth_graders_scores

# Format averages to two decimal places
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:,.2f}".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:,.2f}".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:,.2f}".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:,.2f}".format)

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                         9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

### Reading Scores by Grade

In [27]:
# Perform the necessary calculations to average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame(columns=["9th", "10th", "11th", "12th"])
reading_scores_by_grade["9th"] = ninth_graders_scores
reading_scores_by_grade["10th"] = tenth_graders_scores
reading_scores_by_grade["11th"] = eleventh_graders_scores
reading_scores_by_grade["12th"] = twelfth_graders_scores

# Format averages to two decimal places
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.2f}".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.2f}".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.2f}".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.2f}".format)

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

###  Scores by School Spending

In [28]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [29]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [30]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].str.replace("$","")

school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].astype("float")
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels, include_lowest=True)

/Users/seanguzman/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [31]:
# Remove $ and % from columns and re-assign type from string to float in order to calculate average
school_spending_df["Average Math Score"] = school_spending_df["Average Math Score"].astype("float")
school_spending_df["Average Reading Score"] = school_spending_df["Average Reading Score"].astype("float")

school_spending_df["Passing Math Percentage"] = school_spending_df["Passing Math Percentage"].str.replace("%","")
school_spending_df["Passing Math Percentage"] = school_spending_df["Passing Math Percentage"].astype("float")
school_spending_df["Passing Reading Percentage"] = school_spending_df["Passing Reading Percentage"].str.replace("%","")
school_spending_df["Passing Reading Percentage"] = school_spending_df["Passing Reading Percentage"].astype("float")
school_spending_df["Overall Passing Percentage"] = school_spending_df["Overall Passing Percentage"].str.replace("%","")
school_spending_df["Overall Passing Percentage"] = school_spending_df["Overall Passing Percentage"].astype("float")

school_spending_df
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Passing Math Percentage"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Passing Reading Percentage"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Overall Passing Percentage"]

In [32]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "Passing Math Percentage": spending_passing_math,
    "Passing Reading Percentage": spending_passing_reading,
    "Overall Passing Percentage": overall_passing_spending
})

# Re-establish formatting adding % to percentages and rounding to two decimal places
spending_summary["Average Math Score"] = spending_summary["Average Math Score"].map("{:,.2f}".format)
spending_summary["Average Reading Score"] = spending_summary["Average Reading Score"].map("{:,.2f}".format)
spending_summary["Passing Math Percentage"] = spending_summary["Passing Math Percentage"].map("{:,.2f}%".format)
spending_summary["Passing Reading Percentage"] = spending_summary["Passing Reading Percentage"].map("{:,.2f}%".format)
spending_summary["Overall Passing Percentage"] = spending_summary["Overall Passing Percentage"].map("{:,.2f}%".format)


# Display results
spending_summary

,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Percentage
Spending Ranges (Per Student),,,,,
<$585,83.45,83.93,93.46%,96.61%,90.37%
$585-630,81.90,83.16,87.13%,92.72%,81.42%
$630-645,78.52,81.62,73.48%,84.39%,62.86%
$645-680,77.00,81.03,66.16%,81.13%,53.53%

### Scores by School Size

In [33]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [34]:
# Create a copy of the school summary
school_size_df = per_school_summary.copy()

In [35]:
# Remove ',' from "Total Students" and convert to int in order to categorize.
#Categorize the spending based on the bins.
school_size_df["Total Students"] = school_size_df["Total Students"].str.replace(",","")
school_size_df["Total Students"] = school_size_df["Total Students"].astype("int")
school_size_df["School Size"] = pd.cut(school_size_df["Total Students"], size_bins, labels=labels, include_lowest=True)
school_size_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Percentage,School Size
School,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%,Medium (1000-2000)

In [36]:
school_size_df["Average Math Score"] = school_size_df["Average Math Score"].astype("float")
school_size_df["Average Reading Score"] = school_size_df["Average Reading Score"].astype("float")

school_size_df["Passing Math Percentage"] = school_size_df["Passing Math Percentage"].str.replace("%","")
school_size_df["Passing Math Percentage"] = school_size_df["Passing Math Percentage"].astype("float")
school_size_df["Passing Reading Percentage"] = school_size_df["Passing Reading Percentage"].str.replace("%","")
school_size_df["Passing Reading Percentage"] = school_size_df["Passing Reading Percentage"].astype("float")
school_size_df["Overall Passing Percentage"] = school_size_df["Overall Passing Percentage"].str.replace("%","")
school_size_df["Overall Passing Percentage"] = school_size_df["Overall Passing Percentage"].astype("float")


# Calculate averages for the desired columns. 
size_math_scores = school_size_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = school_size_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = school_size_df.groupby(["School Size"]).mean()["Passing Math Percentage"]
size_passing_reading = school_size_df.groupby(["School Size"]).mean()["Passing Reading Percentage"]
size_overall_passing = school_size_df.groupby(["School Size"]).mean()["Overall Passing Percentage"]

In [37]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "Passing Math Percentage": size_passing_math,
    "Passing Reading Percentage": size_passing_reading,
    "Overall Passing Percentage": size_overall_passing
})

# Re-establish formatting adding % to percentages and rounding to two decimal places
size_summary["Average Math Score"] = size_summary["Average Math Score"].map("{:,.2f}".format)
size_summary["Average Reading Score"] = size_summary["Average Reading Score"].map("{:,.2f}".format)
size_summary["Passing Math Percentage"] = size_summary["Passing Math Percentage"].map("{:,.2f}%".format)
size_summary["Passing Reading Percentage"] = size_summary["Passing Reading Percentage"].map("{:,.2f}%".format)
size_summary["Overall Passing Percentage"] = size_summary["Overall Passing Percentage"].map("{:,.2f}%".format)


# Display results
size_summary

,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Percentage
School Size,,,,,
Small (<1000),83.82,83.93,93.55%,96.10%,89.89%
Medium (1000-2000),83.37,83.87,93.60%,96.79%,90.62%
Large (2000-5000),77.75,81.34,69.96%,82.77%,58.28%

### Scores by School Type

In [38]:
# Create a copy of the school summary
school_type_df = per_school_summary.copy()

# Remove $ and % from columns and re-assign type from string to float in order to calculate average
school_type_df["Average Math Score"] = school_type_df["Average Math Score"].astype("float")
school_type_df["Average Reading Score"] = school_type_df["Average Reading Score"].astype("float")

school_type_df["Passing Math Percentage"] = school_type_df["Passing Math Percentage"].str.replace("%","")
school_type_df["Passing Math Percentage"] = school_type_df["Passing Math Percentage"].astype("float")
school_type_df["Passing Reading Percentage"] = school_type_df["Passing Reading Percentage"].str.replace("%","")
school_type_df["Passing Reading Percentage"] = school_type_df["Passing Reading Percentage"].astype("float")
school_type_df["Overall Passing Percentage"] = school_type_df["Overall Passing Percentage"].str.replace("%","")
school_type_df["Overall Passing Percentage"] = school_type_df["Overall Passing Percentage"].astype("float")

In [39]:
# Group DataFrame by "School Type" and average the results.
type_math_scores = school_type_df.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = school_type_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = school_type_df.groupby(["School Type"]).mean()["Passing Math Percentage"]
type_passing_reading = school_type_df.groupby(["School Type"]).mean()["Passing Reading Percentage"]
type_overall_passing = school_type_df.groupby(["School Type"]).mean()["Overall Passing Percentage"]

In [40]:
type_summary = pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "Passing Math Percentage": type_passing_math,
    "Passing Reading Percentage": type_passing_reading,
    "Overall Passing Percentage": type_overall_passing
    
})

# Re-establish formatting adding % to percentages and rounding to two decimal places
type_summary["Average Math Score"] = type_summary["Average Math Score"].map("{:,.2f}".format)
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].map("{:,.2f}".format)
type_summary["Passing Math Percentage"] = type_summary["Passing Math Percentage"].map("{:,.2f}%".format)
type_summary["Passing Reading Percentage"] = type_summary["Passing Reading Percentage"].map("{:,.2f}%".format)
type_summary["Overall Passing Percentage"] = type_summary["Overall Passing Percentage"].map("{:,.2f}%".format)


type_summary

,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Percentage
School Type,,,,,
Charter,83.47,83.90,93.62%,96.59%,90.43%
District,76.96,80.97,66.55%,80.80%,53.67%